*{
    margin: 0;
    padding: 0;
}
.divmenu{
    border: solid 1px blue;
    margin-top: 15px;
}
.divmenu ul li{
    list-style-type: none;
    
}
.divmenu ul{
    display: flex;
    justify-content: space-between;
    
}
a{
    text-decoration: none !important;
}
.divquangcao{
    display: block;
    overflow: hidden;
    height: 280px;
    width: 1380px;
    max-width: 100%;
    margin-top: 5px;
    margin-right: 0px;
    /* border: solid 1px blue; */
}
.divcontent .divquangcao2{
    /* border: solid 1px blue; */
    display: block;
    margin-top: 10px;
}
div{
    /* border: solid 1px blue */
}
.container{
    border: solid 1px blue
}
.khoianh a:hover{
    border: solid 1px rgb(106, 194, 167)
}
.windows:hover{
    color: rgb(146, 190, 24);
}
.nutcatalog ul{
    list-style-type: none;
}
.nutcatalog ul li {
    border-radius: 20px;
    border: solid 1px blue;
    margin: 10px;
    padding: 10px;
}
.nutcatalog{
    display: inline-block;
    margin: 10px;
    /* border: solid 1px blue; */
}
.nutcatalog ul li a{
    margin: 10px;
}
.khoiquangcao2{
    height: 479px;
    width: auto;
}
.nutcatalog2{
    display: inline-block;
    margin: 10px;
}
.nutcatalog2 ul{
    list-style-type: none;
}
.nutcatalog2 ul li {
    border-radius: 20px;
    border: solid 1px blue;
    margin: 10px;
    padding: 10px;
}
.footer{
    border-top:solid 1px blue;
}
.footer ul li {
    list-style-type: none;
    text-align: right;
}
.khoidiachi{
    padding-right: 100px;
}
.khoibanquyen{
    text-align: right;
}