*{
    margin: 0;
    padding: 0;
}
.logo{
    height: 54px;
    width: 250px;
    display: block;
}
.divchualogo{
    display: flex;
    flex-direction: row;
    height: 54px;
    width: 1048px;
    padding: 10px 16px 20px 16px;
}
.osearch{
    margin-left: 400px;

}
.nuttimkiem{
    padding: 10px;
    margin-left: 1px;
    color: blue;
}
.divmenu{
    border: solid 1px blue;
    margin-top: 15px;
}
.divmenu ul li{
    list-style-type: none;
    
}
.divmenu ul{
    display: flex;
    justify-content: space-between;
    
}
a{
    text-decoration: none !important;
}
.divquangcao{
    display: block;
    overflow: hidden;
    height: 280px;
    width: 1380px;
    max-width: 100%;
    margin-top: 5px;
    margin-right: 0px;
    /* border: solid 1px blue; */
}
.divcontent .divquangcao2{
    /* border: solid 1px blue; */
    display: block;
    margin-top: 10px;
}
div{
    border: solid 1px blue
}
